*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #fff;
}
h1{
    display: inline-block;
    height: 2px;
    font-size: 30px;
}
section#logo,img{
    height: 4rem;
    vertical-align: top;
    align-self: auto;
}
.section#logo,h1{
    padding-top: 0.8rem;
    padding-left: 3px;
    vertical-align: middle;
}
body{
    background-color: grey;
}
main{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
.task{
    background-color: rgb(17, 150, 202);
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.sectionn{
    background-color: #fff;
    color: lightgray;
    border-style: solid;
    border-color: gray;
    border-radius: 0.2rem;
}
.check{
    color: rgb(10, 196, 10);
}
.cross{
    color: rgba(255, 0, 0, 0.911);
}