*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #fff;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    padding-right: 20px;
}
h1{
    display: inline-block;
    height: 5px;
    font-size: 45px;
    height: 50px;
    vertical-align: middle;
    padding-top: 1px;
}
h2{
    margin-bottom: 1em;
}
section#logo,img{
    height: 100%;
    vertical-align: middle;
    padding: 10px;
}
.section#logo,h1{
    display: inline-block;
    font-weight: 800px;
    padding-left: 5px;
    vertical-align: middle;
}
body{
    background-color:lightgrey;   
}
main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 2;
}
.button{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.task{
    background-color: rgb(17, 150, 202);
    padding: .5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    font-size: .7rem;
    color: white;
}
.section{
    background-color: rgb(255, 255, 255);
    padding: .5rem 1rem;
    border: solid lightgrey 0.1rem;
    border-radius: 0.4rem;
    font-size: .7rem;
    color: lightgrey;
}
.check{
    color: rgb(10, 196, 10);
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid green;

}
.cross{
    color: rgba(255, 0, 0, 0.911);
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.911);
}
.editional{
    background-color: rgb(17, 150, 202);
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.goal{
    background-color: rgb(171, 17, 218);
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.recruiting{
    background-color: green;
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.mobile{
    background-color: orange;
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.website{
    background-color: rgb(223, 101, 186);
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.sales{
    background-color: rgb(108, 228, 92);
    color: #fff;
    border-width: 0px;
    border-radius: 0.2rem;
}
.task-section{
    padding-left: 30px;
    padding-bottom:25px;

}
.new-task{
    padding-left: 30px;
    padding-bottom:20px;
    padding-right: 30px;
    padding-top:20px;
}
.today{
    padding-left: 30px;
    padding-bottom:20px;
    padding-right: 30px;
    padding-top:20px;
}
.upcoming{
    padding-left: 30px;
    padding-bottom:20px;
    padding-right: 30px;
    padding-top:20px;
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
ul li {
    margin-top: 0.20rem;
}
